
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
.banner-card {
  border: 1px solid red !important;
  transition: transform 0.3s ease;
}

.banner-card:hover {
  transform: translateY(-5px);
}

.card-img {
  height: 400px;
  object-fit: cover;
  width: 450px;
}

#banner {
  background-color: whitesmoke !important;
}

@media (max-width: 768px) {
  .card-img {
    width: 100%;
    height: auto;
  }
}