@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body,html,*{
font-family: 'Poppins', sans-serif !important;
}
.banner-card {
    border: 1px solid red !important; /* Red border for the card */
    transition: transform 0.3s ease; /* Optional: Smooth hover effect */
  }
  
  .banner-card:hover {
    transform: translateY(-5px); /* Optional: Slight lift on hover */
  }
  
  .card-img {
    height: 400px; /* Fixed height for images */
    object-fit: cover; /* Ensure images cover the area without distortion */
    width: 450px;
  }
  #banner{
    background-color: whitesmoke !important;
  }

  